{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %} {{titleSubmitButton}} produto {% endblock %}

{% block main%}
    <div class="row mb-2">
        <div class="col-sm-2">
            <a href="{% url 'produtos_list' %}"><img src="{% static 'mercadinho.jpg'%}" width="40%"></a>
        </div>
        <div class="col-sm-8 offset-sm-2 text-left mt-2">
        {% if titleSubmitButton == 'Atualizar' %}
            <span class="fs-1">Atualizar Novo Produto</span>
        {% else %}
            <span class="fs-1">Cadastrar Novo Produto</span>
        {% endif %}
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {{form|bootstrap}}
        <button type="submit" class="btn btn-success mt-3">{{titleSubmitButton}}</button>
        <a href="{% url 'produtos_list'%}"><button type="button" class="btn btn-success mt-3">Voltar</button></a>
    </form>
{% endblock%}